-
    //- Variables PUG/JS Locales - NIVEL 3
    const dir = '../../';

include ../../includes/head

<h1>Product Page 1</h1>




//- Script JavaScript Zone
script
    include ../../scripts/console.js


include ../../includes/footer
