<footer class="panel bottom">
    <div class="sections">
        <div class="center"><p class="opacity-8 smallest">Todos los derechos reservados 2023 &#9400 urtubiaweb </p></div>
    </div>
</footer>

//- Jquery [ Plugins ]
<script type="text/javascript" src="#{dir}assets/js/jquery.js" defer></script>

//- Slide 5.2.0
<script type="text/javascript" src="#{dir}assets/js/slides.js" defer></script>

//- Plugins
<script type="text/javascript" src="#{dir}assets/js/plugins.js" defer></script>

//- Global Functions JS [ Scripts ]
<script type="text/javascript" src="#{dir}assets/js/global.js" defer></script>

//- libreria de iconos
include ./svg_libraries.pug
</body>
</html>