//- Conexion a variables globales
//- 1 Funciones Globales
include ../functions/+global

//-2 Variables Globales PUG [Data]
include ../data/global
include ../data/_category
include ../data/_product

//- Plugins Globales PUG
include ../plugins/libraries++
<!doctype html>
<html lang="es">


<head>

    //- Metadata
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    //- Eyelash Title
    <title>Carlos Urtubia</title>

    //- CSS Styles [ Assets ]
    <link rel="stylesheet" href="#{dir}assets/css/style.css">




</head>

<body class="slides smoothScroll animated">

include ../includes/navbar
include ../includes/sidebar






