
include ../components/mixins
<nav class="panel top">
    <div class="sections desktop">
        +logo('150', '150')
        <div class="center">
            <ul class="menu">
                <li><a href="#slide-10-c3ca9387">Inicio</a></li>
                <li><a href="#slide-28-82d1d38d">¿Quien soy?</a></li>
                <li><a href="#slide-69-ceb1ab20">Portafolio</a></li>
                <li><a href="#slide-68-abb97f26">Tecnologías</a></li>
                <li><a href="#slide-55-64dd6986">Contacto</a></li>
            </ul>
        </div>
        <div class="right">
            +btn('Descargar CV','assets/files/CarlosUrtubia-CV.pdf','small', 'download="CV_CarlosUrtubia"')
        </div>

    </div>
    <div class="sections compact hidden">
        +logo('100', '100')
        <div class="right svgContainer"><span class="button actionButton sidebarTrigger" data-sidebar-id="1"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu"></use></svg></span></div>
    </div>
</nav>

