
<nav class="sidebar visible" data-sidebar-id="1">
    <div class="close"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use></svg></div>
    <div class="content">
        <a href="#" class="logo"><svg width="100" height="30"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use></svg></a>
        <ul class="mainMenu margin-top-3">
            <li><a href="#slide-10-c3ca9387">Inicio</a></li>
            <li><a href="#slide-28-82d1d38d">¿Quien soy?</a></li>
            <li><a href="#slide-69-ceb1ab20">Portafolio</a></li>
            <li><a href="#slide-68-abb97f26">Tecnologias</a></li>
            <li><a href="#slide-55-64dd6986">Contacto</a></li>
        </ul>
        <ul class="subMenu small opacity-8">
            <li><a href="#">Submit Product</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">License</a></li>
            <li><a href="#">Terms &amp; Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
        <ul class="social opacity-8">
            <li><a href="https://www.facebook.com/carlos.urtubia.98/" target="_blank"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook"></use></svg></a></li>
            <li><a href="https://www.linkedin.com/in/carlos-urtubia-guzm%C3%A1n-3940151ab/" target="_blank"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#linkedin"></use></svg></a></li>

        </ul>
    </div>
</nav>