-
    //- Variables PUG/JS Locales - NIVEL 2
    const dir = '../';

include ../../includes/head

<h1>Category Page 1</h1>




script
    //-include ../../scripts/alert.js
    include ../../scripts/console.js



include ../../includes/footer