-
    //- Variables PUG/JS Locales - NIVEL 1
    const dir = '';

include ../includes/head
include ../components/mixins

//-      Inicio
<section class="slide fade-6 kenBurns animate fromLeft" data-title="Slide #10 (10)" data-name="inicio">
    <div class="content ">
        <div class="container ">
            <div class="wrap">
                <div class="fix-7-12">
                    <h1 class="smaller margin-bottom-2  ae-3">Carlos Urtubia Guzmán</h1>
                    <p class="large ae-4"><span class="opacity-8 ">Bienvenido a mi portafolio</span></p>
                    <p class="large ae-4"><span class="opacity-8 ">¿Estas buscando un profesional para tu proyecto u equipo de trabajo? has llegado al lugar indicado, aquí podras ver un poco de lo que hago y saber mas de mi</span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="background zoom" style="background-image:url(./assets/img/homepage/backgrounds/tecno2.jpg)"></div>
</section>

//-      Sobre mi
<section class="slide fade-6 kenBurns animate " data-title="Slide #28 (28)" data-name="sobreMi">
    <div class="content">
        <div class="container">
            <div class="wrap">
                <div class="fix-12-12">
                    <ul class="flex verticalCenter later reverse">
                        <li class="col-7-12 left">
                            <h1 class="smaller margin-bottom-2 fromLeft ae-3">Desarrollador Front End</h1>
                            <p class="large fromLeft ae-4"><span class="opacity-8">Desde el año 2021 estoy inmerso en el mundo de las tecnologías y no he parado de aprender con el objetico de convertirme en un full stack con un nivel muy competitivo, abierto a aprender cualquier tecnología y con muchas ganas de pertenecer a un equipo de trabajo</span></p>
                            +btn('mas sobre mi','sobremi','ae-5')
                        </li>
                        <li class="col-5-12 cell-28 ae-3" >
                            <img src="assets/img/homepage/cards/mifoto.jpg"  width="360" class="" alt="mi foto" data-action="zoom">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="background" style="background-image:url(./assets/img/homepage/backgrounds/tecno3.jpg)"></div>
</section>

//-          Portafolio

<section class="slide fade-6 kenBurns animate" data-title="Slide #68 (69)" data-name="portafolio">
    <div class="content">
        <div class="container">
            <div class="wrap">

                <div class="fix-9-12 toCenter">
                    <h1 class="smaller margin-bottom-2  ae-2">Portafolio</h1>
                    <p class="larger light margin-bottom-4  ae-3"><span class="opacity-8">Aqui puede ver un poco de lo que hago</span></p>
                </div>
                <div class="fix-12-12">
                    <ul class="flex fixedSpaces later flex-69 equal equalMobile popupTrigger controller" data-popup-id="69-68" data-slider-id="69-68">

                        //- Proyecto Zapatillas
                        <li class="col-4-12 margin-bottom-phablet-2">
                            <a target="_blank" href="https://cardeku.github.io/Ecommerce-sniker/">
                                <div class="box-69 cursorZoomIn rounded equalElement selected ae-3" style="background-image: url(&quot;./assets/img/homepage/cards/snikers.jpg&quot;); height: 379.984px;">
                                    <div class="table cell-69 equalElement" style="height: 379.984px;">
                                        <div class="cell">
                                            <h4 class="small margin-bottom-1">Carrito de compras</h4>
                                            <p class="smallest bold uppercase cropBottom opacity-8">proyecto con JavaScript y sass, funciones basicas de un carrito de compras y galeria de imagenes</p>

                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>

                        //- Proyecto drag and drop con PokeApi
                        <li class="col-4-12 margin-bottom-phablet-2">
                            <a target="_blank" href="https://cardeku.github.io/dragDrop-Pokemon/">
                                <div class="box-69 cursorZoomIn rounded equalElement ae-5" style="background-image: url(&quot;./assets/img/homepage/cards/dragdrop.jpg&quot;); height: 379.984px;">
                                    <div class="table cell-69 equalElement" style="height: 379.984px;">
                                        <div class="cell">
                                            <h4 class="small margin-bottom-1">Drag and Drop</h4>
                                            <p class="smallest bold uppercase cropBottom opacity-8">Juego con Javascript y consumo de Api en el que se arrastra el Pokemon al nombre correspondiente y se suelta</p>

                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>

                        //- Proyecto Memorice
                        <li class="col-4-12 margin-bottom-phablet-2 ">
                            <a target="_blank" href="https://cardeku.github.io/Memorice/">
                                <div class="box-69 cursorZoomIn rounded equalElement ae-7" style="background-image: url(&quot;./assets/img/homepage/cards/memorice.jpg&quot;); height: 379.984px;">
                                    <div class="table cell-69 equalElement" style="height: 379.984px;">
                                        <div class="cell">
                                            <h4 class="small margin-bottom-1">Memorice</h4>
                                            <p class="smallest bold uppercase cropBottom opacity-8">Juego de memoria con temporizador, contador de movimientos y aciertos</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="background" style="background-image:url(./assets/img/homepage/backgrounds/tecno5.jpg)"></div>
</section>

//-         Tecnologias
<section class="slide fade-6 kenBurns animate after" data-title="Slide #68 (68)" data-name="tecnologias">
    <div class="content">
        <div class="container">
            <div class="wrap">

                <div class="fix-10-12 toCenter">
                    <h1 class="smaller margin-bottom-2 ae-2">Tecnologías</h1>
                    <p class="larger light fix-8-12 ae-2"><span class="opacity-8">Trabajo con las siguientes tecnologías</span></p>


                    <ul class="flex flex-68 tintLogos equal equalMobile ae-4">
                        <li class="col-2-12 col-tablet-1-4 col-phablet-1-3 col-phone-1-2">
                            <div class="table wide equalElement" style="height: 82px;">
                                <div class="cell">
                                    <a href="#slide-68-abb97f26"><img width="70" src="./assets/img/homepage/brands/html-5.png" alt="HTML5"></a>
                                    //- Texto que se ve al hacer hover
                                    <div>HTML5</div>
                                </div>
                            </div>
                        </li>
                        <li class="col-2-12 col-tablet-1-4 col-phablet-1-3 col-phone-1-2">
                            <div class="table wide equalElement done" style="height: 82px;">
                                <div class="cell"><a href="#slide-68-abb97f26"><img width="70" src="./assets/img/homepage/brands/css-3.png" alt="CSS"></a>
                                    <div>CSS3</div>
                                </div>
                            </div>
                        </li>
                        <li class="col-2-12 col-tablet-1-4 col-phablet-1-3 col-phone-1-2">
                            <div class="table wide equalElement done" style="height: 82px;">
                                <div class="cell"><a href="#slide-68-abb97f26"><img width="70" src="./assets/img/homepage/brands/js.png" alt="JavaScript"></a>
                                    <div>JavaScript</div>
                                </div>
                            </div>
                        </li>
                        <li class="col-2-12 col-tablet-1-4 col-phablet-1-3 col-phone-1-2">
                            <div class="table wide equalElement done" style="height: 82px;">
                                <div class="cell"><a href="#slide-68-abb97f26"><img width="70" src="./assets/img/homepage/brands/react.png" alt="JavaScript"></a>
                                    <div>React JS</div>
                                </div>
                            </div>
                        </li>
                        <li class="col-2-12 col-tablet-1-4 col-phablet-1-3 col-phone-1-2">
                            <div class="table wide equalElement done" style="height: 82px;">
                                <div class="cell"><a href="#slide-68-abb97f26"><img width="70" src="./assets/img/homepage/brands/git.png" alt="Git"></a>
                                    <div>GIT</div>
                                </div>
                            </div>
                        </li>
                        <li class="col-2-12 col-tablet-1-4 col-phablet-1-3 col-phone-1-2">
                            <div class="table wide equalElement done" style="height: 82px;">
                                <div class="cell"><a href="#slide-68-abb97f26"><img width="70" src="./assets/img/homepage/brands/github.png" alt="GitHub"></a>
                                    <div>GitHub</div>
                                </div>
                            </div>
                        </li>
                        <li class="col-2-12 col-tablet-1-4 col-phablet-1-3 col-phone-1-2">
                            <div class="table wide equalElement done" style="height: 82px;">
                                <div class="cell"><a href="#slide-68-abb97f26"><img width="70" src="./assets/img/homepage/brands/sass.png" alt="SASS "></a>
                                    <div>SASS</div>
                                </div>
                            </div>
                        </li>
                        <li class="col-2-12 col-tablet-1-4 col-phablet-1-3 col-phone-1-2">
                            <div class="table wide equalElement done" style="height: 82px;">
                                <div class="cell"><a href="#slide-68-abb97f26"><img width=70 src="./assets/img/homepage/brands/php.png" alt="PHP"></a>
                                    <div>PHP</div>
                                </div>
                            </div>
                        </li>
                        <li class="col-2-12 col-tablet-1-4 col-phablet-1-3 col-phone-1-2">
                            <div class="table wide equalElement done" style="height: 82px;">
                                <div class="cell"><a href="#slide-68-abb97f26"><img width="70" src="./assets/img/homepage/brands/my-sql.png" alt="My SQL"></a>
                                    <div>MySQL</div>
                                </div>
                            </div>
                        </li>
                        <li class="col-2-12 col-tablet-1-4 col-phablet-1-3 col-phone-1-2">
                            <div class="table wide equalElement done" style="height: 82px;">
                                <div class="cell"><a href="https://designmodo.com/slides/" target="_blank"><img width="100" src="./assets/img/homepage/brands/slide.png" alt="My SQL"></a>
                                    <div style="width: 140px;">Slides Framework</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="ae-4 margin-top-6" style="text-decoration: underline;">
                        +btn('Mis certificados','certificados','ae-5')
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="background" style="background-image:url(./assets/img/homepage/backgrounds/tecno4.jpg)"></div>
</section>

//- Contacto
<section class="slide fade-6 kenBurns animate " data-title="Slide #55 (55)" data-name="contactame">
    <div class="content">
        <div class="container">
            <div class="wrap">

                <h1 class="smaller margin-bottom-2 ae-2">Contacta conmigo</h1>
                <p class="large margin-bottom-4 ae-2"><span class="opacity-8">Juntos formaremos un gran equipo!</span></p>
                <div class="form-55 fix-5-12">
                    <div class="pad padding-top-2 shadow left selected ae-4">
                        <form action="https://formsubmit.co/irourtubia@gmail.com" id="contact-form" method="POST" class="slides-form wide" data-ajax-form="true">
                            <ul class="flex noSpaces">
                                <li class="col-6-12 form-55-input-1">
                                    <div class="label done"><label class="left opacity-5" for="name55">Tu nombre</label></div>
                                    <input class="rounded wide done" id="name55" type="name" name="name" placeholder="Nombre" required="">
                                </li>
                                <li class="col-6-12 form-55-input-2">
                                    <div class="label done"><label class="left opacity-5" for="email55">Email </label></div>
                                    <input class="rounded wide done" id="email55" type="email" name="email" placeholder="Email" required="">
                                </li>
                            </ul>
                            <div class="label done"><label class="opacity-5" for="message55">Mensaje</label></div>
                            <textarea class="rounded left wide done" id="message55" type="text" name="message" placeholder="Mensaje" required=""></textarea>


                            <button type="submit" class="button wide blue rounded cropBottom margin-top-2" data-success-text="Mensaje enviado!" data-success-class="Enviar Mensaje" name="button">Enviar Mensaje</button>

                            <input type="hidden" name="_captcha" value="false">
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="background" style="background-image:url(./assets/img/homepage/backgrounds/tecno6.jpg)"></div>
</section>







include ../includes/footer

