
//- ::: Plugins & Libraries Globals ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -//


//- ::: Jquery 3.5.1 ::: -//
mixin jquery()
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>