.icon-1 {
  transform: scale(.1);
  margin: -30px -18px -30px -30px;
}

.icon-2 {
  transform: scale(.2);
  margin: -30px -25px -30px -30px;
}

// Buttom Emoji
.icon-3 {
  transform: scale(.3);
  margin: -25px -23px -30px -25px;
  display: inline-block;
}


.icon-4 {
  transform: scale(.35);
  margin: -28px -20px -29px -20px;
  display: inline-block;
}


// Flag Card
.icon-5 {
  transform: scale(.5);
  margin: -30px -18px -30px -30px;
}

.icon-6 {
  transform: scale(.6);
  margin: -30px -30px -5px -30px;
}

// Section Emoji
.icon-7 {
  transform: scale(.7);
  margin: -30px -30px -22px -30px;
}

.icon-8 {
  transform: scale(.8);
  margin: -30px -30px -10px -30px;
}

// Headers Emoji
.icon-9 {
  transform: scale(.9);
  margin: -30px -30px -22px -30px;
}

/* ../../assets/img/sprites/css_sprites.png  */

.bg-argentina {
  width: 72px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.png ') -10px -10px;
}

.bg-beauty {
  width: 72px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.png ') -102px -10px;
}

.bg-bolivia {
  width: 72px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.png ') -10px -102px;
}

.bg-bootcamp_2 {
  width: 72px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.png ') -102px -102px;
}

.bg-brasil {
  width: 72px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.png ') -194px -10px;
}

.bg-certify {
  width: 72px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.png ') -194px -102px;
}

.bg-chile {
  width: 72px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.png ') -10px -194px;
}

.bg-coffe {
  width: 72px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.png ') -102px -194px;
}

.bg-colombia {
  width: 72px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.png ') -194px -194px;
}

.bg-company {
  width: 72px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.png ') -286px -10px;
}

.bg-confetti_ball {
  width: 72px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.png ') -286px -102px;
}

.bg-congrats {
  width: 72px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.png ') -286px -194px;
}

.bg-consulta {
  width: 72px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.png ') -10px -286px;
}

.bg-course {
  width: 72px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.png ') -102px -286px;
}

.bg-date {
  width: 72px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.png ') -194px -286px;
}

.bg-document {
  width: 72px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.png ') -286px -286px;
}

.bg-dollar {
  width: 72px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.png ') -378px -10px;
}

.bg-ecuador {
  width: 72px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.png ') -378px -102px;
}

.bg-españa {
  width: 72px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.png ') -378px -194px;
}

.bg-exel {
  width: 72px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.png ') -378px -286px;
}

.bg-faq {
  width: 72px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.png ') -10px -378px;
}

.bg-globe {
  width: 72px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.png ') -102px -378px;
}

.bg-he {
  width: 72px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.png ') -194px -378px;
}

.bg-hour {
  width: 72px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.png ') -286px -378px;
}

.bg-idea {
  width: 72px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.png ') -378px -378px;
}

.bg-imac {
  width: 72px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.png ') -470px -10px;
}

.bg-langs {
  width: 72px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.png ') -470px -102px;
}

.bg-laptop {
  width: 72px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.png ') -470px -194px;
}

.bg-mexico {
  width: 72px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.png ') -470px -286px;
}

.bg-newsletter {
  width: 72px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.png ') -470px -378px;
}

.bg-pack {
  width: 72px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.png ') -10px -470px;
}

.bg-pdf {
  width: 72px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.png ') -102px -470px;
}

.bg-powerpoint {
  width: 72px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.png ') -194px -470px;
}

.bg-reclamo {
  width: 72px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.png ') -286px -470px;
}

.bg-register {
  width: 72px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.png ') -378px -470px;
}

.bg-peru {
  width: 72px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.png ') -470px -470px;
}

.bg-rocket {
  width: 72px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.png ') -562px -10px;
}

.bg-she {
  width: 72px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.png ') -562px -102px;
}

.bg-usa {
  width: 72px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.png ') -562px -194px;
}

.bg-user {
  width: 72px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.png ') -562px -286px;
}

.bg-venezuela {
  width: 72px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.png ') -562px -378px;
}
